<footer>
    <div class="container-footer">
        <div class="redes-sociais">
            <span>
                Siga-nos nas redes sociais:

            </span>
            <div class="icons-redes">
                <a href="https://github.com/GDGIOS" target="_blank">
                    <img src="../../assets/icon_github.png" alt="Github" />
                </a>
                <a href="https://gdg.community.dev/gdg-ilheus/" target="_blank" class="google">
                    <img src="../../assets/icon_google.png" alt="Google" />
                </a>
                <a href="https://www.instagram.com/gdgilheus/" target="_blank">
                    <img src="../../assets/icon_instagram.png" alt="Instagram" />
                </a>
            </div>
        </div>
        <hr/>
        <div class="container-direitos">
            <small>
                © 2024 GDG Ilhéus. Desenvolvido por <a href="https://www.linkedin.com/in/beatriz-pereira-81467317b/">Beatriz</a>.
            </small>
        </div>
    </div>
    
</footer>
