.card-list{
    display: flex;
    width: 100%;
    justify-content: center;
}
.container-card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    row-gap: 1em;

  }
  
@media (max-width: 600px) {
    .container-card-list {
        justify-content: center;
    }
}
