.container-contact{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    background: linear-gradient(-15deg, white 50%, var(--color-green) 50%);
}
.container-contact .box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-contact .form{
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 910px;
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}
.container-contact .form img{
    width: 40%;
    object-fit: cover;
    border-radius: 10px;
}

.container-contact .form-wrapper{
    width: 100%;
}
.container-contact .app-footer{
    margin-top: auto;
}
