<router-outlet></router-outlet>
<!-- <app-menu></app-menu>

<ul>
  <li>Quem somos</li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<h1>GDG Ilhéus</h1>

<h3>O que é a iniciativa GDG</h3>

<button>Inscreva-se</button>

<h3>Ferramentas do Google</h3>

<h3>Nosso foco, beneficiados</h3>

<div class="beneficiados">
  <div>
    <img src="../assets/Company-rafiki.svg">
    <p>Funcionários de qualquer ramo e servidores públicos</p>
  </div>

  <div>
    <img src="../assets/Company-rafiki.svg">
    <p>Funcionários de qualquer ramo e servidores públicos</p>
  </div>

  <div>
    <img src="../assets/Company-rafiki.svg">
    <p>Funcionários de qualquer ramo e servidores públicos</p>
  </div>
</div>

Você trabalha com e quer se especializar?

<h3>Eventos</h3>
Demonstre interesse
clica e vai linha do tempo

<h3>Parceiros</h3>

<h3>Colabore conosco</h3>

 -->
