/* You can add global styles to this file, and also import other style files */

:root {
  --max-width: 1100px;
  --text-color: #525252;
  --color-blue: #4285f4;
  --color-red: #ea4335;
  --color-yellow: #fbbc05;
  --color-green: #34a853;
  --color-gray: #f8f9fa;
}
@font-face {
  font-family: 'Google';
  src: url('fonts/GoogleSansDisplay-Regular.ttf')  format('truetype');
  font-weight: 500;
  }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

.btn {
  background: var(--color-blue);
  color: white;
  padding: 0.4em 1em;
  border-radius: 1em;
}

body {
  font-family: 'Google';
}
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  font-size: 1.5em;
}
