<app-header></app-header>

<main>
  <div class="hero">
    <div class="description">
      <h1>Google<br />Developers<br />Group<br /></h1>
      <p>
        Somos uma comunidade de desenvolvedores e entusiastas de tecnologia de
        lhéus apoiada pelo Google, dedicada a conectar, inspirar e promover o
        crescimento profissional.
      </p>
      <div class="button">
        <a href="#contato" class="btn">Entre em contato</a>
      </div>
    </div>
    <div class="image">
      <img src="../../assets/banner.png" alt="GDG Ilhéus" />
    </div>
  </div>
</main>

<div class="dashboard">
  <div class="container-dashboard">
    <div class="foto-membros">
      <img src="../../assets/membros.png" alt="" />
    </div>
  </div>
</div>
<div class="max gray">
  <div class="container-dashboard">
    <div class="sobre">
      <div class="texto">
        <div class="titulo">
          <h2>Sobre</h2>
        </div>
        <span>conheça um pouco mais sobre nós</span>
      </div>
      <div class="section">
        <div class="red-left block">
          <img src="../../assets/left-red.png" alt="" />
        </div>
        <div class="container-texto block-red">
          <span>Quem Somos</span>
          <p>
            Nós do GDG Ilhéus somos o capítulo sul-baiano, uma comunidade
            independente e sem fins lucrativos, formada por desenvolvedores de
            software e entusiastas de tecnologia.
          </p>
        </div>
        <div class="red-left block">
          <img src="../../assets/right-red.png" alt="" />
        </div>
      </div>
      <div class="section">
        <div class="yellow-left block">
          <img src="../../assets/left-yellow.png" alt="" />
        </div>
        <div class="container-texto block-yellow">
          <span>Quem Somos</span>
          <p>
            Nós do GDG Ilhéus somos o capítulo sul-baiano, uma comunidade
            independente e sem fins lucrativos, formada por desenvolvedores de
            software e entusiastas de tecnologia.
          </p>
        </div>
        <div class="yellow-left block">
          <img src="../../assets/right-yellow.png" alt="" />
        </div>
      </div>
      <div class="section">
        <div class="blue-left block">
          <img src="../../assets/left-blue.png" alt="" />
        </div>
        <div class="container-texto block-blue">
          <span>Quem Somos</span>
          <p>
            Nós do GDG Ilhéus somos o capítulo sul-baiano, uma comunidade
            independente e sem fins lucrativos, formada por desenvolvedores de
            software e entusiastas de tecnologia.
          </p>
        </div>
        <div class="blue-left block">
          <img src="../../assets/right-blue.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-faixa
  titulo="Junte-se a nós e faça parte dessa transformação!"
  cor="#34a853"
></app-faixa>
<div class="container-membros">
  <div class="titulo">
    <h2>Membros</h2>
  </div>
<app-card-list></app-card-list>
</div>

<app-footer></app-footer>
