<app-header></app-header>
<main>
  <div class="hero">
    <div class="description">
      <h1>Google<br />Developers<br />Group<br /></h1>
      <p>
        Somos uma comunidade de desenvolvedores e entusiastas de tecnologia de
        lhéus apoiada pelo Google, dedicada a conectar, inspirar e promover o
        crescimento profissional.
      </p>
      <div class="button">
        <a href="#contato" class="btn">Entre em contato</a>
      </div>
    </div>
    <div class="image">
      <img src="../../assets/banner.png" alt="GDG Ilhéus" />
    </div>
  </div>
</main>
<app-footer></app-footer>
